
{% extends 'layout/base.html' %} 
{% load cache %}
{% load static %}


{% block title %}Все посты{% endblock title %}

    
{% block content %}

<form method="GET" action="{% url 'blog:posts' %}" class="card border-dark mb-4">
    <div class="card-body bg-light">
        <div class="row g-3">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" name="search_query" class="form-control border-dark" 
                           placeholder="Поиск по блогу..." value="{{ request.GET.search_query|default:'' }}">
                    <button class="btn btn-warning" type="submit">
                        <i class="bi bi-search"></i> Искать
                    </button>
                </div>
            </div>
            
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="search_content" value="1" id="search_content"
                           {% if request.GET.search_content == '1' %}checked{% endif %}>
                    <label class="form-check-label" for="search_content">Искать в тексте</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="search_title" value="1" id="search_title"
                           {% if request.GET.search_title == '1' %}checked{% endif %}>
                    <label class="form-check-label" for="search_title">Искать в заголовках</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="search_tags" value="1" id="search_tags"
                           {% if request.GET.search_tags == '1' %}checked{% endif %}>
                    <label class="form-check-label" for="search_tags">Искать в тегах</label>
                </div>
            </div>
        </div>
    </div>
</form>


    <section class="mb-5">
        <h2 class="mb-4"><i class="bi bi-folder"></i> Категории</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for category in categories %}
                {% include "python_blog/include/category_include.html" %}
            {% endfor %}
        </div>
    </section>

    <section class="mb-5">
        <h2 class="mb-4"><i class="bi bi-star"></i>Все посты блога</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for post in posts %}
                {% include "python_blog/include/card_include.html" %}
            {% endfor %}
        </div>
        {% if posts.has_other_pages %}
        <nav class="mt-5">
            <ul class="pagination-custom d-flex justify-content-center align-items-center gap-3">
                {% if posts.has_previous %}
                    <li>
                        <a href="?page={{ posts.previous_page_number }}" class="pagination-circle small">
                            {{ posts.previous_page_number }}
                        </a>
                    </li>
                {% endif %}

                <li>
                    <span class="pagination-circle active">{{ posts.number }}</span>
                </li>

                {% if posts.has_next %}
                    <li>
                        <a href="?page={{ posts.next_page_number }}" class="pagination-circle small">
                            {{ posts.next_page_number }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </section>

{% endblock content %}

{% block script %}{% endblock script %}