.active {
    color: #ffffff;
    background-color: #007bff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

.custom-height {
    height: calc(100vh - 176px);
}

.hover-card {
    transition: transform 0.3s ease-in-out;
}

.hover-card:hover {
    transform: translateY(-5px);
}
